<a href="https://colab.research.google.com/github/YoungjongPark87/python_programming/blob/master/python_9week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# 4P
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

number_list

number_list = []
for number in range(1, 6):
  number_list.append(number)

number_list

number_list = list(range(1, 6))

number_list

[1, 2, 3, 4, 5]

In [65]:
# 5P
number_list = [number for number in range(1,6)]
number_list

number_list = [number-1 for number in range(1,6)]
number_list

a_list = [number for number in range(1,6) if number % 2 == 1]
a_list

[1, 3, 5]

In [68]:
# 6P
a_list = []
for number in range(1,6):
  if number%2 == 1:
    a_list.append(number)

a_list

[1, 3, 5]

In [72]:
# 7P

sentence = ['I', 'Love', 'Python','Soooooo', 'MUCH!!!']
sentence

sentence2 = [word.lower() for word in sentence]
sentence2

sentence3 = [word for word in sentence if len(word) > 6]
sentence3

sentence4 = [(x, x ** 2, x ** 3) for x in range(10)]
sentence4

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [82]:
# 8P

rows = range(1,4)
cols = range(1,3)
for row in rows:
  for col in cols:
    print(row, col)

rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
  print(cell)

cels2 = [(i,j) for i in range(5) for j in range(i)]
cels2

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [92]:
# 9P, 10

word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)} #letters의 불필요 중복 제거 후 for문

letter_counts

{'l': 1, 's': 1, 'r': 1, 'e': 2, 't': 2}

In [93]:
# P11

a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

In [95]:
# p15

def sum(a, b):
  return a+b

sum(1, 2)
sum(1.3, 3.1)

4.4

In [103]:
# P16

days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [104]:
# p17
english = 'Monday', 'Tuesday', 'Wednesday'
french ='Lundi', 'Mardi','Mercredi'
list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [110]:
# P18~19
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

# menu('chardonnay', 'chicken', 'cake')

menu(entree ="beef", dessert = "bagel", wine = "bordeaux")

menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [117]:
# P 20
def menu(wine, entree, dessert = 'pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

# menu('chardonnay', 'chicken')

menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [139]:
# p 21
def menu(price, wine='chardonnay', entree='chicken' , dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

# 가능
# menu(100)
# menu(price=100)
# menu(price=120, entree='beef')
# menu(dessert='bagel', price=110)
# menu('eighty' , 'saint-pierre' , 'fish')
# menu('hundred', wine='saint-pierre')

# 불가
# menu()
# menu(price=100, "saint-pierre")
# menu(100, price=120)
# menu(main=‘cream pasta’)

SyntaxError: invalid character '‘' (U+2018) (<ipython-input-139-c02194ebc4e9>, line 17)

In [144]:
# p23~24
def echo(anything):
  'echo returns its input argument'
  return anything

def print_if_true(thing, check):
  """Prints the first argument if a second argument is true.
  The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
  """
  if check:
    print(thing)


# help(echo)
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
      1. Check whether the *second* argument is true.
      2. If it is, print the *first* argument.